* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
    cursor: pointer;
    font-size: 2.5rem;
}

.span-two {
    grid-column: span 2;
}

.result {
    /* column 1 to last */
    grid-column: 1 / -1;  
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.result .previous-operand {
    color: #f6f6f6;
    font-size: 2rem;
}

.result .current-operand {
    color: white;
    font-size: 2.5rem;
}