button {
    border-radius: 50%;
    font-size: 60px;
    padding: 20px;
    color: #f8f8f8;
}

.calculator {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.display {
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

.result {
    font-size: 60px;
}

.buttons {
    display: flex;
}

.digits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.operators {
    display: flex;
    flex-direction: column;
}

.number {
    background-color: #313131;
}

.operator, .equal {
    background-color: #f69906;
}

.clear {
    background-color: #a0a0a0;
}